[Unit]
Description=Grazing cira algo trading 
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=sh /home/axel/Programs/repositories/grazing-cira/run.sh

[Install]
WantedBy=multi-user.target
